extends ./layout/index 
block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. In odio mauris, scelerisque vel lacus id, tincidunt sollicitudin neque. Curabitur sed nibh dignissim, accumsan quam vitae, aliquam eros. Proin ac justo sapien. Sed sed nisl at dolor imperdiet ullamcorper in nec metus. Vestibulum sit amet lacus quis erat semper mattis in a augue. Donec efficitur odio at ipsum dictum, vel auctor ante consequat. Maecenas congue tellus at dolor facilisis consequat at vel orci. Sed mauris nisl, volutpat nec ipsum id, volutpat fermentum enim.

                p In consequat sem eros, vitae hendrerit tellus lacinia nec. Nam ac nisl vel diam tempor dignissim cursus at lacus. Ut lobortis iaculis dui vel tristique. Donec ut pulvinar velit. Integer consequat dui id consectetur hendrerit. Duis posuere justo odio, vitae malesuada tortor tempus eu. Nam iaculis cursus mattis. Phasellus pretium risus vel ultrices commodo. Aenean semper tellus ex, vitae feugiat lectus suscipit vel. Cras eget iaculis nisi, non sodales dolor. Vestibulum feugiat a est eu consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin ultrices sed diam at porta. Aliquam sem mauris, sagittis ut massa sit amet, bibendum accumsan dui. Phasellus et eros eu lectus placerat vestibulum quis luctus elit. Duis ante odio, interdum a rhoncus sed, ornare eget quam.

                p Nullam hendrerit dolor ut nisl posuere pellentesque. Vivamus elit risus, pulvinar quis elementum non, congue a felis. Vestibulum egestas tellus eu arcu tincidunt, a malesuada neque consequat. Nunc placerat ullamcorper odio, at aliquam lorem suscipit fringilla. Vivamus mattis tellus quis quam porta, a congue ante tempor. Sed vitae lorem sit amet metus dapibus posuere et sed nisl. Cras et lectus massa. Aliquam elit ligula, hendrerit ut massa ac, gravida aliquam arcu. Nam vehicula tempor dapibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sit amet vulputate dui. Nulla lobortis congue tincidunt. Duis dapibus purus nec hendrerit mattis.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg" alt="icono de seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nam sit amet vulputate dui. Nulla lobortis congue tincidunt. Duis dapibus purus nec hendrerit mattis.
                .col-md-4 
                    img(src="img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nam sit amet vulputate dui. Nulla lobortis congue tincidunt. Duis dapibus purus nec hendrerit mattis.
                .col-md-4 
                    img(src="img/icono_precios.svg" alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Nam sit amet vulputate dui. Nulla lobortis congue tincidunt. Duis dapibus purus nec hendrerit mattis.


    
